.home {
  width: 100%;
  min-width: 100vh;
}

.contenedor_cards{
  display: flex;
  width: 90%;
  min-width: 90%;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  grid-gap: 100px;
  align-content: center;
}
footer{
  width: 100%;
  min-width: 100vh;
  margin-top: 2%;
  margin-bottom: 1%;
  text-align: center;
  color: #1b004b;
  font-size: 30px;
  font-weight: 700;
}